//! **************************************************************************
// Written by: Map P.20131013 on Tue May 02 15:55:34 2017
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "T17" LEVEL 1;
COMP "b" LOCATE = SITE "T18" LEVEL 1;
COMP "c" LOCATE = SITE "U17" LEVEL 1;
COMP "d" LOCATE = SITE "U18" LEVEL 1;
COMP "e" LOCATE = SITE "M14" LEVEL 1;
COMP "g" LOCATE = SITE "L14" LEVEL 1;
COMP "ff" LOCATE = SITE "N14" LEVEL 1;
COMP "dp" LOCATE = SITE "M13" LEVEL 1;
COMP "SW2" LOCATE = SITE "A8" LEVEL 1;
COMP "board_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
SCHEMATIC END;

